/* Id Selector */
#unit{
    color:coral;
}
/* Class Selector */
.cls{
    color:blue;
}
/* Tag Name Selector */
h1{
    color:black;
}
/* nav bar section start here our schema is
heading colour :#0002233
heading size :1rem
flexBox is used for Parent
Parent id name :Pnav-lights */
p{
    /* Using Color Name */
    color: black;
    /* Using Hexa Decimals */
    color: #000;
    /* Using RGB */
    color: rgp(0, 0, 0);
    /* Using RGBA */
    color: rgpa(0, 0, 0, 0.7);
}
h2{
    /* Control the FontFamily that we are using */
    font-family: Roboto;
    font-weight: 600;
    font-size: xx-large;
    font-style: italic;
}
h3{
    /* Text Alignment */
    text-align: center;
    text-align: start;
    text-align: end;
    text-decoration: line-through;
    text-transform: uppercase;
}
.parent{
    width: 50vw;
    height: 50vh;
    background: linear-gradient(45deg, blue, white);
    overflow:hidden;
}
.child{
    width: calc(100% / 3);
    height: calc(70% / 3);
    background-color: black;
    margin: 1rem;
}